{% extends "layout.html" %}

{% block title %}
    Info
{% endblock %}
{% block main %}
<div class="note-background">
    <div class="note">
        <p>To get started you'll need to <A HREF="signup">sign up for a group.</A> A group consists of a goal, and a number of people trying to achieve that goal.</p>
    </div>
    <div class="note">
        <p>To make progress toward your goal, you'll need to <A HREF="log_workout">log your workouts.</A></p>
    </div>
    <div class="note">
        <p>You can track your progress along with other members of the groups you're in <A HREF="/">at the home page.</A></p>
    </div>
</div>

{% endblock %}
