{% extends "layout.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block main %}
<div class="accordion" id="accordionExample">

<form action="/signup" method="post">
  <div class="panel-group" style="margin: 30px" id="accordion">

    <div class="panel panel-default formy" style="width: 70%">
        <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          <div style="background-color:transparent"> Create New Group </div>
        </a>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body form-group">
          <input autocomplete="off" autofocus class="form-control" name="groupname" placeholder="Group Name" type="text">
          <select class="form-control" name="type" placeholder="Group Type" type="list">
            <option value="1">Do X pushups in a row</option>
            <option value="2">Run X minute mile</option>
            <option value="3">Run X miles</option>
            <option value="4">Do X pushups</option>
          </select>
          <input class="form-control" name="goal" placeholder="X (Group Goal)" type="number" step="0.01">
          <button class="btn btn-primary" type="submit" name="su_button" value="new">Create Group</button>
        </div>
      </div>
    </div>

    <div class="panel panel-default formy" style="width: 70%">
        <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          <div  style="background-color:transparent"> Sign Up to Existing Group </div>
        </a>
      <div id="collapse2" class="panel-collapse collapse ">
        <div class="panel-body form-group">
          <select class="form-control" name="signup" type="list">
            {% for group in groups %}
            <option value="{{ group['group_num'] }}">{{ group["group_name"] }}</option>
            {% endfor %}
          </select>
          <button class="btn btn-primary" type="submit" name="su_button" value="update">Sign Up</button>
        </div>
      </div>
    </div>

  </div>
</form>

</div>
        {% if error == 1 %}
        <div class="alert alert-warning">
            Group Name already taken.
        </div>
        {% elif error ==2 %}
        <div class="alert alert-warning">
            Enter valid group name and goal.
        </div>
        {% endif %}
{% endblock %}
